{% extends 'base.html.twig' %}

{% block title %}Загрузка файла{% endblock %}

{% block page_js %}
    <script src="{{ asset('js/file/upload.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="fullscreen-centrilizer-container">
        <div class="upload-form-wrapper">
            {% for flash_message in app.flashes('error') %}
                <div style="color: red;">{{ flash_message }}</div>
            {% endfor %}

            <form action="{{ path('upload_file') }}" method="post" enctype="multipart/form-data">
                <label for="file" class="pseudo-button">Выберите файлы для загрузки</label>
                <input type="file" id="file" name="file" required multiple hidden><br><br>
            </form>
        </div>

        <div class="files-gallery" hidden>
        </div>
        <button class="upload-files-btn" hidden>Загрузить выбранные файлы и получить ссылку</button>
    </div>

    <div class="upload-result" hidden>
        <button class="close-upload-result">×</button>
        Ссылка на страницу с файлами: <span class="uploaded-page-link"></span>
    </div>
{% endblock %}